/* Contenedor de las columnas de las mesas */
.columna-pedidos {
  display: flex;
  flex-wrap: wrap; /* Permite que las mesas se ajusten a nuevas filas si es necesario */
  gap: 20px; /* Espaciado entre las mesas */
  justify-content: space-evenly; /* Asegura que el espacio entre columnas se reparta equitativamente */
}

/* Cada columna tiene un ancho fijo y un tamaño mínimo */
.columna {
  flex: 1 1 23%; /* Asigna un tamaño flexible para las columnas, siempre 4 por fila */
  min-width: 200px; /* Establece un tamaño mínimo para las columnas */
  max-width: 300px; /* Limita el tamaño máximo de las columnas */
  display: flex;
  flex-direction: column; /* Organiza los elementos de cada mesa de forma vertical */
  justify-content: space-between; /* Asegura que el contenido se distribuya de manera equitativa */
}

/* Diseño de cada mesa */
.mesa {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el botón se mantenga en la parte inferior */
  min-height: 300px; /* Define una altura mínima */
  text-align: center;
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño total */
}

/* Cambiar la fuente de "Pedidos" */
h1 {
  font-family: 'cocogoose-letter', sans-serif;
  font-weight: bold;
  font-size: 2rem; /* Tamaño de la fuente para "Pedidos" */
  text-align: center;
  margin-bottom: 20px;
}

/* Cambiar la fuente de "Mesa" */
.mesa-titulo {
  font-family: 'cocogoose', sans-serif;  /* Fuente para el título de la mesa */
  font-weight: bold;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
  margin-bottom: 15px;
  text-align: center;  /* Centra el título */
}


.ticket-info p {
  margin: 5px 0;
}

.btn-realizado {
  background-color: var(--color-botonP);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px; /* Margen superior para separar el botón de los pedidos */
}

.btn-realizado:hover {
  background-color: var(--color-botonPH);
}
