<app-header>
    <div slot="buttons">
        <div class="row">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link">Empleados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Categorías</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Ingredientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Mesas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Ventas</a>
            </li>
          </ul>
        </div>
    </div>
</app-header>
