<div class="main-container">
  <main>
    <h1 class="mb-4 text-center">Ingredientes, opciones y extras</h1>
    <div class="row">
      <!-- Ingredientes -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h3 class="text-center">Ingredientes</h3>
        <div class="table-responsive">
          <table class="table table-striped ingredientes-table">
            <thead>
              <tr>
                <th>Ingrediente</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td>
                <span class="material-symbols-outlined icon icon-eye">
                  visibility
                </span>
                <span class="material-symbols-outlined icon icon-edit">
                  edit_square
                </span>
                <span class="material-symbols-outlined icon icon-trash">
                  delete
                </span>
              </td>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Opciones -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h3 class="text-center">Opciones</h3>
        <div class="table-responsive">
          <table class="table table-striped opciones-table">
            <thead>
              <tr>
                <th>Opción</th>
                <th>Porcentaje</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td>
                <span class="material-symbols-outlined icon icon-eye">
                  visibility
                </span>
                <span class="material-symbols-outlined icon icon-edit">
                  edit_square
                </span>
                <span class="material-symbols-outlined icon icon-trash">
                  delete
                </span>
              </td>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Extras -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h3 class="text-center">Extras</h3>
        <div class="table-responsive">
          <table class="table table-striped extras-table">
            <thead>
              <tr>
                <th>Extras</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td>
                <span class="material-symbols-outlined icon icon-eye">
                  visibility
                </span>
                <span class="material-symbols-outlined icon icon-edit">
                  edit_square
                </span>
                <span class="material-symbols-outlined icon icon-trash">
                  delete
                </span>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
