<div class="main-container">    
    <main>
        <h1 class="mb-4">Empleados</h1>
        <div class="row mb-3">
        <div class="col-auto">
            <button class="btn btn-prim" (click)="agregarEmpleados()">Agregar empleado</button>
            </div>
            <div class="col">
                <input type="search" class="form-control" placeholder="Buscar empleado">
            </div>
            <div class="col-auto">
                <select class="form-select btn">
                    <option selected>Filtrar por rol</option>
                    <option>Mesero</option>
                    <option>Cocinero</option>
                    <option>Administrador</option>
                </select>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.role }}</td>
                <td class="icons-space">
                    <button class="btn">
                        <span class="material-symbols-outlined icon-eye">
                            visibility
                        </span>
                    </button>
                    <button class="btn">
                        <span class="material-symbols-outlined icon-edit">
                            edit_square
                        </span>
                    </button>
                    <button class="btn">
                        <span class="material-symbols-outlined icon-trash">
                            delete
                        </span>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </main>
</div>