<div class="main-container">
  <main>
    <h1 class="mb-4">Empleados</h1>
    <div class="row mb-3">
      <div class="col-auto">
        <button class="btn btn-prim" (click)="agregarEmpleadosBoton()">
          Agregar empleado
        </button>
      </div>
      <div class="col">
        <input
          type="search"
          class="form-control search"
          placeholder="Buscar empleado"
          (keyup)="filtrarUsuarios($event)"
        />
      </div>
      <div class="col-auto">
        <select
          class="form-select text-start"
          (change)="filtrarUsuariosPorRol($event)"
        >
          <option class="opt" [value]="0" selected>Filtrar por rol</option>
          <option class="opt" [value]="0">Todos</option>
          <option *ngFor="let rol of roles" class="opt" [value]="rol.id_rol">
            {{ rol.rol }}
          </option>
        </select>
      </div>
      <div class="col-auto">
        <select
          class="form-select text-start"
          (change)="filtrarActivos($event)"
        >
          <option class="opt" [value]="0" selected>Filtrar activos</option>
          <option class="opt" [value]="0">Todos</option>
          <option class="opt" [value]="1">Activos</option>
          <option class="opt" [value]="2">Inactivos</option>
        </select>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="usuarios.length > 0">
        <tr *ngFor="let usuario of usuariosFiltrados">
          <td>{{ usuario.usuario_id.codigo }}</td>
          <td>{{ usuario.usuario_id.nombres }}</td>
          <td>
            {{
              usuario.usuario_id.primer_apellido +
                " " +
                usuario.usuario_id.segundo_apellido
            }}
          </td>
          <td>{{ usuario.rol_id.rol }}</td>
          <td class="icons-space text-center">
            <span
              (click)="verEmpleado(usuario.usuario_id.id_usuario)"
              class="material-symbols-outlined icon icon-eye"
            >
              visibility
            </span>
            <span
              (click)="editarEmpleado(usuario.usuario_id.id_usuario)"
              class="material-symbols-outlined icon icon-edit"
            >
              edit_square
            </span>
            <span
              (click)="desactivarEmpleado(usuario.usuario_id.id_usuario)"
              class="material-symbols-outlined icon icon-trash"
            >
              delete
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container row">
      <div class="col-12 d-flex justify-content-center">
        <mat-paginator
          *ngIf="this.usuarios.length > 0"
          [length]="this.usuarios.length"
          [pageSize]="this.pageSize"
          [hidePageSize]="true"
          [pageSizeOptions]="[5, 7, 10]"
          (page)="onPageChange($event)"

        >
        </mat-paginator>
      </div>
    </div>
    <h3 class="text-center" *ngIf="usuarios.length === 0">
      ¡Vaya! No existen empleados registrados o están inactivos
    </h3>
  </main>
</div>
