<div class="container mt-4">
  <!-- Formulario para agregar productos -->
  <div class="card p-4">
    <h3 class="text-center">Agregar Producto</h3>
    <form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
      <!-- Información del producto -->
      <div class="mb-3">
        <label class="form-label">Nombre del Producto</label>
        <input
          class="form-control"
          formControlName="nombre_prod"
          placeholder="Ingrese el nombre del producto"
          required
          [class.is-invalid]="
            form.get('nombre_prod')?.invalid && form.get('nombre_prod')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="form.get('nombre_prod')?.hasError('required')"
        >
          El nombre es obligatorio.
        </div>
      </div>

      <!-- Descripción del producto -->
      <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea
          class="form-control"
          formControlName="descripcion"
          placeholder="Ingrese la descripción del producto"
          required
          [class.is-invalid]="
            form.get('descripcion')?.invalid && form.get('descripcion')?.touched
          "
        ></textarea>
        <div
          class="invalid-feedback"
          *ngIf="form.get('descripcion')?.hasError('required')"
        >
          La descripción es obligatoria.
        </div>
      </div>

      <!-- Imagen del producto -->
      <div class="mb-3">
        <label class="form-label">Imagen del Producto</label>
        <input
          type="file"
          class="form-control"
          required
          (change)="onFileSelected($event)"
          [class.is-invalid]="
            form.get('img_prod')?.invalid && form.get('img_prod')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="form.get('img_prod')?.hasError('required')"
        >
          La imagen es obligatoria.
        </div>
      </div>

      <!-- Subcategorías -->
      <div class="mb-3">
        <label class="form-label">Subcategoría</label>
        <select formControlName="sub_cat_id" class="form-select">
          <option [ngValue]="null" disabled>Seleccione una subcategoría</option>
          <option
            *ngFor="let sub_cat of sub_categorias"
            [value]="sub_cat.id_subcat"
            required
            [class.is-invalid]="
              form.get('sub_cat_id')?.invalid && form.get('sub_cat_id')?.touched
            "
          >
            {{ sub_cat.nombre_subcat }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="form.get('sub_cat_id')?.hasError('required')"
        >
          Debe elegir una subcategoría.
        </div>
      </div>

      <!-- Sección de ingredientes, opciones y extras -->
      <div class="row">
        <div class="col-md-4">
          <div class="card p-3">
            <h5>Extras</h5>
            <div class="form-check" formArrayName="extras">
              <ul
                *ngFor="let extra of extrasFiltrados | paginate: { itemsPerPage: pageSize, currentPage: currentPageExt }; let i = index; "
              >
                <input
                  type="checkbox"
                  class="form-check-input"
                  [value]="extra"
                  id="extra_{{ extra.id_extra }}"
                  [formControlName]="i"
                />
                <label
                  for="extra_{{ extra.id_extra }}"
                  class="form-check-label"
                >
                  {{ extra.nombre_extra }}</label
                >
              </ul>
            </div>
          </div>
          <div class="pagination-container row">
            <div
              class="d-flex justify-content-center"
              *ngIf="extrasFiltrados.length > pageSize"
            >
              <pagination-controls
                (pageChange)="onPageChangeExt($event)"
                class="pagination"
                previousLabel="Anterior"
                nextLabel="Siguiente"
              ></pagination-controls>
            </div>
          </div>
          <h3 class="text-center" *ngIf="this.extras.length === 0">
            ¡Vaya! No existen extras registrados.
          </h3>
        </div>
        <div class="col-md-4">
          <div class="card p-3">
            <h5>Opciones</h5>
            <div class="form-check" formArrayName="opciones">
              <ul *ngFor="let opcion of opcionesFiltradas | paginate: { itemsPerPage: pageSize, currentPage: currentPageOpc }; let i = index">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [value]="opcion"
                  id="opcion_{{ opcion.id_opcion }}"
                  [formControlName]="i"
                />
                <label
                  class="form-check-label"
                  for="opcion_{{ opcion.id_opcion }}"
                >
                  {{ opcion.nombre_opcion }}</label
                >
              </ul>
            </div>
          </div>
          <div class="pagination-container row">
            <div
              class="d-flex justify-content-center"
              *ngIf="opcionesFiltradas.length > pageSize"
            >
              <pagination-controls
                (pageChange)="onPageChangeOpc($event)"
                class="pagination"
                previousLabel="Anterior"
                nextLabel="Siguiente"
              ></pagination-controls>
            </div>
          </div>
          <h3 class="text-center" *ngIf="this.opciones.length === 0">
            ¡Vaya! No existen opciones registradas.
          </h3>
        </div>
        <div class="col-md-4">
          <div class="card p-3">
            <h5>Ingredientes</h5>
            <div class="form-check" formArrayName="ingredientes">
              <ul *ngFor="let ingr of ingredientesFiltrados | paginate: { itemsPerPage: pageSize, currentPage: currentPageIngr }; let i = index">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [value]="ingr"
                  id="ingr_{{ ingr.id_ingr }}"
                  [formControlName]="i"
                />
                <label class="form-check-label" for="ingr_{{ ingr.id_ingr }}">{{
                  ingr.nombre_ingrediente
                }}</label>
              </ul>
            </div>
            <div class="pagination-container row">
              <div
                class="d-flex justify-content-center"
                *ngIf="extrasFiltrados.length > pageSize"
              >
                <pagination-controls
                  (pageChange)="onPageChangeExt($event)"
                  class="pagination"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                ></pagination-controls>
              </div>
            </div>
            <h3 class="text-center" *ngIf="this.ingredientes.length === 0">
              ¡Vaya! No existen ingredientes registrados.
            </h3>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input
          type="number"
          class="form-control"
          placeholder="Ingrese el precio del producto"
          min="0"
          step="0.01"
          formControlName="precio"
        />
      </div>

      <!-- Botón para agregar producto -->
      <div class="text-end mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Agregar producto
        </button>
      </div>
    </form>
  </div>
</div>
