.container {
    padding-top: 100px;
}
.btn {
    background-color: var(--color-botonP);
    color: white;
    border-color: var(--color-botonP);
    font-family: 'cocogoose',sans-serif;
}
label, h5 {
  font-family: 'cocogoose-letter',sans-serif;
}
textarea, input, .form-check-label, option, select {
  font-family: 'cocogoose',sans-serif;
}
