<nav class="navbar navbar-expand-sm fixed-top shadow">
 <div class="container-fluid nav">
    <a class="navbar-brand" href="#">
        <img id="logo" src="assets/logo.png" alt="logo digitmenu" class="mb-3">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav">
        
     </ul>
    </div>
 </div>
</nav>
