body {
  background-image: url('/assets/Pizza-3007395.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  background-color: white;
  border-radius: 10px;
}
