<div class="main-container">
  <main>
    <h1 class="mb-4">Logs</h1>

    <div class="row mb-3">
      <div class="col">
        <label for="buscadorLogs">Buscador</label>
        <input
          type="search"
          class="form-control"
          placeholder="Buscar por usuario, acción, módulo..."
          [(ngModel)]="searchTerm"
          (input)="aplicarFiltros()"
          id="buscadorLogs"
        />
      </div>
      <div class="filtro-item col">
        <label for="fecha-inicio">Fecha inicio</label>
        <input
          class="form-control"
          id="fecha-inicio"
          type="date"
          [(ngModel)]="fechaInicio"
        />
      </div>
      <div class="filtro-item col">
        <label for="fecha-fin">Fecha fin</label>
        <input
          class="form-control"
          id="fecha-fin"
          type="date"
          [(ngModel)]="fechaFin"
        />
      </div>
      <div class="filtro-item col">
        <br />
        <button class="btn btn-prim" (click)="aplicarFiltros()">Filtrar</button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Acción</th>
          <th>Módulo</th>
          <th>Fecha</th>
          <th>IP</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let log of logsFiltrados
              | paginate : { itemsPerPage: pageSize, currentPage: currentPage }
          "
        >
          <td>{{ log.usuario }}</td>
          <td>{{ log.accion }}</td>
          <td>{{ log.modulo }}</td>
          <td>{{ formatDate(log.fecha) }}</td>
          <td>{{ log.ip }}</td>
          <td class="icons-space">
            <button class="btn" (click)="verLog(log.id_log)">
              <span class="material-symbols-outlined icon-eye">
                visibility
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination-container row"></div>
  </main>
</div>
