<div class="main-container">
    <main>
      <h1 class="mb-4">Categorías</h1>
  
      <div class="row mb-3">
        <div class="col-auto">
          <!-- <button class="btn btn-prim" (click)="agregarCategoria()">Agregar categoría</button> -->
        </div>
        <div class="col">
          <!-- <input type="search" class="form-control search" placeholder="Buscar categoría" [(ngModel)]="searchCategoria" /> -->
        </div>
      </div>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categoriasFiltradas">
            <td>{{ categoria.nombre }}</td>
            <td class="icons-space">
              <!-- <span (click)="editarCategoria(categoria)" class="material-symbols-outlined icon icon-edit">edit</span>
              <span (click)="eliminarCategoria(categoria.id)" class="material-symbols-outlined icon icon-trash">delete</span> -->
            </td>
          </tr>
        </tbody>
      </table>
  
      <h1 class="mb-4">Subcategorías</h1>
  
      <div class="row mb-3">
        <div class="col-auto">
          <!-- <button class="btn btn-prim" (click)="agregarSubcategoria()">Agregar subcategoría</button> -->
        </div>
        <div class="col">
          <!-- <input type="search" class="form-control search" placeholder="Buscar subcategoría" [(ngModel)]="searchSubcategoria" /> -->
        </div>
      </div>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subcategoria of subcategoriasFiltradas">
            <td>{{ subcategoria.nombre }}</td>
            <td>{{ subcategoria.categoria.nombre }}</td>
            <td class="icons-space">
              <!-- <span (click)="editarCategoria(subcategoria)" class="material-symbols-outlined icon icon-edit">edit</span>
              <span (click)="eliminarCategoria(subcategoria.id)" class="material-symbols-outlined icon icon-trash">delete</span> -->
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
  
