<div class="welcome-container">
  <!-- Imagen de fondo -->
  <div class="background-image"></div>

  <!-- Logo en la parte inferior izquierda -->
  <div class="logo">
    <img src="../../../assets/images/logo.png" alt="Logo" class="img-fluid">
  </div>

  <!-- Modal/Panel de bienvenida -->
  <div class="modal-panel">
    <h1 class="text-center">¡Bienvenido!</h1>
    <img src="../../../assets/images/Screenshot from 2025-03-19 17-35-12.png" class="img-home" alt="second logo">
    <p class="text-center">Te damos la bienvenida a nuestro sistema</p>
    <p class="text-center">Pide comida desde el celular</p>
    <div class="text-center">
      <button class="btn btn-primary" id="boton-clientes" (click)="goToClientesMenu()">Ingresar</button>
    </div>
  </div>
</div>
  