:root {
    --color-botonP: #F28C0F;
    --color-botonPH: #f0a952;
    --color-botonPA: #d47500;
    --color-secundario: #F2A413;
    --color-secundarioH: #ffbd44;
    --color-secundarioA: #d89009;
    --color-terciario: #79b4d9;
    --color-terciarioH: #99d3f7;
    --color-terciarioA: #5fafe0;
    --color-aceptar: #8fd979;
    --color-aceptarH: #b4f799;
    --color-aceptarA: #83e05f;
    --color-nrosc: #d96b0b;
    --color-eliminar: #F26113;
    --color-eliminarH: #ff823f;
    --color-eliminarA: #e24f00;
    --color-peligro: #a60505;
    --color-peligroH: #c21c1c;
    --color-peligroA: rgb(114, 0, 0)5;


}

input,
td,
option {
    font-family: 'cocogoose', sans-serif;
}

h1,
h2,
h3,
th,
select {
    font-family: 'cocogoose-letter', sans-serif;
}

select.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'cocogoose-letter', sans-serif;
}

option.form-select:hover {
    background-color: var(--color-secundario);
}



.icon {
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    margin: 0 8vw 0 8vw;
}

.icon:hover {
    transform: scale(1.05);
}

.icon:active {
    transform: scale(0.95);
}

.nav-link {
    font-family: 'cocogoose-letter', sans-serif;
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    color: #000;
    cursor: pointer;
    /* Cambia el cursor a una mano al pasar sobre el enlace */
}

.nav-link:hover {
    color: var(--color-secundarioH);
    transform: scale(1.05);
}

.nav-link:active {
    color: var(--color-secundarioA);
    transform: scale(0.95);
}

.active-link {
    color: var(--color-secundario);
}

.btn {
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.material-symbols-outlined {
    background: none;
    border: none;
}

/* normal */
.icon-trash {
    color: var(--color-eliminar);
}

.icon-react {
    color: var(--color-aceptar);
}

.icon-eye {
    color: var(--color-secundario);
}

.icon-add {
    background: var(--color-botonP);
    color: white;
    border-radius: 5px;
    height: 100%;
    /* Para igualar la altura al input */
    display: flex;
    align-items: center;
}

.icon-add:hover {
    background-color: var(--color-botonPH);
    color: white;
}

.icon-add:active {
    background-color: var(--color-botonPA);
    color: white;
}

.icon-edit {
    color: var(--color-terciario);
}

/* hover */
.icon-trash:hover {
    color: var(--color-eliminarH);
}

.icon-eye:hover {
    color: var(--color-secundarioH);
}

.icon-react:hover {
    color: var(--color-aceptarH);
}

.icon-edit:hover {
    color: var(--color-terciarioH);
}

/* active */
.icon-trash:active {
    color: var(--color-eliminarA);
}

.icon-eye:active {
    color: var(--color-secundarioA);
}

.icon-edit:active {
    color: var(--color-terciarioA);
}
.icon-react:active {
    color: var(--color-aceptarA);
}

.table-striped {
    table-layout: fixed;
}

.btn.btn-prim {
    background-color: var(--color-botonP);
    color: white;
    border-color: var(--color-botonP);
    font-family: 'cocogoose', sans-serif;
}

.btn.btn-terc {
    background-color: var(--color-terciario);
    color: white;
    border-color: var(--color-terciario);
    font-family: 'cocogoose', sans-serif;
}

.btn.btn-peligro {
    background-color: var(--color-peligro);
    color: white;
    border-color: var(--color-peligro);
    font-family: 'cocogoose', sans-serif;
}

.search:focus {
    border-color: var(--color-secundario);
}

.swal2-title {
    font-family: 'cocogoose-letter', sans-serif;
}

.swal2-confirm {
    background-color: var(--color-botonP);
}

.swal2-html-container {
    font-family: 'cocogoose', sans-serif;
}

.btn.btn-prim:hover {
    background-color: var(--color-botonPH);
    color: white;
    border-color: var(--color-botonPH);
    transform: scale(1.05);
    /* Aumenta el tamaño en un 5% */
}

.btn.btn-prim:active {
    background-color: var(--color-botonPA);
    color: white;
    border-color: var(--color-botonPA);
    transform: scale(0.95);
    /* Reduce el tamaño en un 5% para efecto de presionado */
}

.btn.btn-terc:hover {
    background-color: var(--color-terciarioH);
    color: white;
    border-color: var(--color-terciarioH);
    transform: scale(1.05);
    /* Aumenta el tamaño en un 5% */
}

.btn.btn-terc:active {
    background-color: var(--color-terciarioA);
    color: white;
    border-color: var(--color-terciarioA);
    transform: scale(0.95);
    /* Reduce el tamaño en un 5% para efecto de presionado */
}

.btn.btn-peligro:hover {
    background-color: var(--color-peligroH);
    color: white;
    border-color: var(--color-peligroH);
    transform: scale(1.05);
    /* Aumenta el tamaño en un 5% */
}

.btn.btn-peligro:active {
    background-color: var(--color-peligroA);
    color: white;
    border-color: var(--color-peligroA);
    transform: scale(0.95);
    /* Reduce el tamaño en un 5% para efecto de presionado */
}

/* Desactivar el rango si quisieras ocultarlo con CSS en lugar de MatPaginatorIntl */
.mat-paginator-range-label {
    display: none;
}

/* Hover y active en los botones de paginación */
.mat-paginator-navigation-previous .mat-icon-button:hover,
.mat-paginator-navigation-next .mat-icon-button:hover {
    background-color: var(--color-botonPH) !important;
}

.mat-paginator-navigation-previous .mat-icon-button:active,
.mat-paginator-navigation-next .mat-icon-button:active {
    background-color: var(--color-botonPA) !important;
}

@font-face {
    font-family: 'cocogoose-letter';
    src: url('/assets/fonts/CocogooseProLetterpressTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cocogoose';
    src: url('assets/fonts/Cocogoose_trial.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}