:root {
    --color-botonP: #F28C0F;
    --color-botonPH: #f0a952;
    --color-botonPA: #d47500;
    --color-secundario: #F2A413;
    --color-secundarioH: #ffbd44;
    --color-secundarioA: #d89009;
    --color-terciario: #79b4d9;
    --color-terciarioH: #99d3f7;
    --color-terciarioA: #5fafe0;
    --color-nrosc: #d96b0b;
    --color-eliminar: #F26113;
    --color-eliminarH: #ff823f;
    --color-eliminarA: #e24f00;
    --color-peligro: #a60505;
    --color-peligroH: #c21c1c;
    --color-peligroA:rgb(114, 0, 0)5;
}
input, td, option {
    font-family: 'cocogoose', sans-serif;
}
h1, th, select {
    font-family: 'cocogoose-letter', sans-serif;
}
.icon {
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.05);
}
.icon:active {
    transform: scale(0.95);
}
.nav-link {
    font-family: 'cocogoose-letter', sans-serif;
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    color: #000;
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el enlace */
}
.nav-link:hover {
    color: var(--color-secundarioH);
    transform: scale(1.05);
}
.nav-link:active {
    color: var(--color-secundarioA);
    transform: scale(0.95);
}
.active-link {
    color: var(--color-secundario);
}
.btn {
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}
.btn:hover {
    transform: scale(1.05);
}
.btn:active {
    transform: scale(0.95);
}

.btn.btn-prim {
    background-color: var(--color-botonP);
    color: white;
    border-color: var(--color-botonP);
    font-family: 'cocogoose',sans-serif;
}
.btn.btn-terc {
    background-color: var(--color-terciario);
    color: white;
    border-color: var(--color-terciario);
    font-family: 'cocogoose',sans-serif;
}
.btn.btn-peligro {
    background-color: var(--color-peligro);
    color: white;
    border-color: var(--color-peligro);
    font-family: 'cocogoose',sans-serif;
}

.swal2-title {
    font-family: 'cocogoose-letter', sans-serif;
  }
  .swal2-confirm {
    background-color: var(--color-botonP);
  }
  
  .swal2-html-container {
    font-family: 'cocogoose', sans-serif;
  }
  
.btn.btn-prim:hover {
    background-color: var(--color-botonPH);
    color: white;
    border-color: var(--color-botonPH);
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}
.btn.btn-prim:active{
    background-color: var(--color-botonPA);
    color: white;
    border-color: var(--color-botonPA);
    transform: scale(0.95); /* Reduce el tamaño en un 5% para efecto de presionado */
}
.btn.btn-terc:hover {
    background-color: var(--color-terciarioH);
    color: white;
    border-color: var(--color-terciarioH);
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}
.btn.btn-terc:active{
    background-color: var(--color-terciarioA);
    color: white;
    border-color: var(--color-terciarioA);
    transform: scale(0.95); /* Reduce el tamaño en un 5% para efecto de presionado */
}
.btn.btn-peligro:hover {
    background-color: var(--color-peligroH);
    color: white;
    border-color: var(--color-peligroH);
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}
.btn.btn-peligro:active {
    background-color: var(--color-peligroA);
    color: white;
    border-color: var(--color-peligroA);
    transform: scale(0.95); /* Reduce el tamaño en un 5% para efecto de presionado */
}
@font-face {
    font-family: 'cocogoose-letter';
    src: url('/assets/fonts/CocogooseProLetterpressTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cocogoose';
    src: url('assets/fonts/Cocogoose_trial.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

