<nav class="navbar navbar-expand-sm fixed-top shadow">
  <div class="container-fluid nav">
    <a class="navbar-brand d-none d-md-block">
      <img
        id="logo-desktop"
        src="assets/images/logo.png"
        alt="logo digitmenu"
        class="mb-3"
      />
    </a>
    <!-- Isotipo para pantallas pequeñas -->
    <a class="navbar-brand d-block d-md-none">
      <img
        id="logo-mobile"
        src="assets/images/isotipo.png"
        alt="isotipo digitmenu"
        class="mb-3"
      />
    </a>

    <div class="headerMenuButtonsContainer">
      <ng-content class="toggleHeaderMenuButtons" select="[slot=buttons]">
      </ng-content>
    </div>

    <!-- Botón de toggler para menú colapsable en dispositivos móviles -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del menú -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Contenedor para botones adicionales -->
      <div class="headerMenuButtonsContainer ms-auto">
        <ng-content select="[slot=buttons]"></ng-content>
      </div>

      <!-- Información del usuario y opciones -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ username }} {{ usercode }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li>
              <a class="dropdown-item" href="#" (click)="cerrarSesion()"
                >Cerrar Sesión</a
              >
            </li>
            <!-- Otras opciones del usuario pueden añadirse aquí -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
