/* Estilos para el logo en pantallas grandes */
#logo-desktop {
    max-width: 150px;
    height: auto;
    transition: transform 0.2s ease;
    margin-bottom: 100px;
  }

  #logo-desktop:hover {
    transform: scale(1.05);
  }

  #logo-desktop:active {
    transform: scale(0.95);
  }

  /* Estilos para el isotipo en pantallas pequeñas */
  #logo-mobile {
    max-width: 22%;
    height: auto;
    transition: transform 0.2s ease;
  }

  #logo-mobile:hover {
    transform: scale(1.05);
  }

  #logo-mobile:active {
    transform: scale(0.95);
  }
  #userDropdown {
    font-family: 'cocogoose',sans-serif;
  }
  /* Estilo para la barra de navegación */
  .navbar {
    border: none;
    display: block;
    margin: 0;
    padding: 0;
}
/* Establece la altura de la barra de navegación */
.navbar {
    height: 14%;
    min-height: 14%;
    background-color: white;
}
.material-symbols-outlined {
    margin-right: 2vw;
    height: 14%;
    min-height: 14%;
  }

  /* Alineación de elementos en la barra de navegación */
  .headerMenuButtonsContainer {
    transition: width 0.5s;
    margin-left: 20px;
  }

  /* Estilos para el botón de cerrar sesión en dispositivos pequeños */
  .btn-logout {
    width: 12vw;
  }

  .navbar-brand {
    margin-left: 15px;
  }
  .dropdown-item {
    font-family: 'cocogoose',sans-serif;
  }

